@page "/auth"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory

<h1>Call web API from a Blazor Server Razor GitAuthor</h1>
<PageTitle>GitAuthor</PageTitle>

@if (geDatabaseError)
{
    <p>Unable to result from database Please try again later.</p>
}
else
{
    <ul>
        <p>@result</p>
    </ul>
}

@code {
    private string result; 
    private bool geDatabaseError;
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        
        var request = new HttpRequestMessage(HttpMethod.Get,
            "http://localhost:5243/author/nselpriv/Bogos_BDSA");

        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            var temp = await JsonSerializer.DeserializeAsync<object>(responseStream);
            
            result= await response.Content.ReadAsStringAsync();
        
        }
        else
        {
         
           geDatabaseError = true;
        }

        shouldRender = true;
    }

   
}