@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, check your repo here!</h1>

<form action="/active.php">
  <label for="fname">Repo name:</label>
  <input type="text" id="repo" name="repo"><br><br>
  <label for="lname">Owner name:</label>
  <input type="text" id="owner" name="owner"><br><br>
  <input type="submit" value="submit">
</form>

