@page "/auth"
@using System.Net.Http
@inject HttpClient Http

<h1>Call web API from a Blazor Server Razor GitAuthor</h1>
<PageTitle>GitAuthor</PageTitle>

@if (result == "")
{
    <p>Result was empty, maybe it doesn't exist?</p>
}
else
{
    <ul>
        <p>@result</p>
    </ul>
}

@code {
    
    
    private string result = "";


    protected override async Task OnInitializedAsync()
    { 
        var author = Index.authline;
        var repo = Index.repoline;
       //commits = await Http.GetFromJsonAsync<Dictionary<string, int>>("http://localhost:5243/frequency/nselpriv/Bogos_BDSA");
        result = await Http.GetStringAsync($"http://localhost:5243/author/{author}/{repo}");
    }
   
}