@page "/freq"
@using System.Net.Http
@using Newtonsoft.Json
@inject HttpClient Http



<h1>Call web API from a Blazor Server Razor Gitfrequency</h1>
<PageTitle>Gitfrequency</PageTitle>

@if (result == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var date in result.DateToFrequency.Keys)
        {
            <li>@($"{date} - {result.DateToFrequency[date].ToString()}")</li>
        }
    </ul>

}

@code {
    private FrequencyData result;


    protected override async Task OnInitializedAsync()
    {
        var author = Index.authline;
        var repo = Index.repoline;
        var jsonToConvert = await Http.GetStringAsync($"http://localhost:5243/frequency/{author}/{repo}");
        result = JsonConvert.DeserializeObject<FrequencyData>(jsonToConvert);
    }


    public class FrequencyData
    {
        public Dictionary<string, int> DateToFrequency { get; set; }
    }

}