@page "/freq"
@using System.Net.Http
@using Newtonsoft.Json
@inject HttpClient Http



<h1>Call web API from a Blazor Server Razor Gitfrequency</h1>
<PageTitle>Gitfrequency</PageTitle>

@if (repo == null || author == null)
{
    <p>Invalid input</p>
}


@if (result == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var date in result.Keys)
        {
            <li>@($"{date} - {result[date].ToString()}")</li>
        }
    </ul>

}

@code {
    private Dictionary<string,int> result;

    private string? author,repo;

    protected override async Task OnInitializedAsync()
    {
        author = Index.authline;
        repo = Index.repoline;
        var jsonToConvert = await Http.GetStringAsync($"http://localhost:5243/frequency/{author}/{repo}");
        result = JsonConvert.DeserializeObject<Dictionary<string,int>>(jsonToConvert);
    }


}