@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
            

        <div class="top-row px-4">
            <button class=".top-row.auth" @onclick="LogUsername">Login here</button>
            <p>@authMessage</p>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

        </div>
         

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string authMessage;

    private async Task LogUsername()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            authMessage = $"{user.Identity.Name} is authenticated.";
        }
        else
        {
            authMessage = "The user is NOT authenticated.";
        }
    }
}